* {
  box-sizing: border-box;
  color: #666;
}

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --red: #d81b60;
  --gray: #fafafa;
  --white: #fff;
  --text: #666;
  --error: #ff0033;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
}

button {
  background: inherit;
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

input,
textarea,
button,
select,
a,
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
